* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: black;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #0009;
    padding-inline: 1rem;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

a {
    color: white;
}

header {
    padding-inline: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-image: url(/docs/Imagens/cropped-1920-1080-77840.jpg);
    box-shadow: 1px -7px 25px 8px #19FF00;
}

.navbar img {
    width: 80px;
}

.titulo {
    align-items: center;
}

.eventos {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.eventos h1 {
    font-size: 40px;
    color: aliceblue;
    font-family: 'Dela Gothic One', cursive;
    text-shadow: 5px 10px 13px rgba(255, 255, 255, 0.25);
}

.eventos h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #19FF00;
}

.eventos h3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
}

.outside {
    display: flex;
    gap: 2rem;
}

.outside img {
    width: 75rem;
    display: flex;
}

.cards {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8rem;

}

.card {
    height: 300px;
    color: #E4E4E4;
    border-radius: 1rem;
    border: 3px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
    text-align: left;
}

.card:hover {
    transform: scale(1.05);
    background-color: #e74c3c; 
    cursor: pointer; 
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.card h3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
}

.linha {
    width: 50%;
    margin: 15rem auto 3rem;
    border: 1px solid;
    color: #E4E4E4;
}

footer {
    text-align: center;
    margin-bottom: 1rem;
}

.rodape {
    color: #E4E4E4;
    font-family: 'Urbanist', sans-serif;
}


@media screen and (max-width: 300px){
    .site-atletica{
        width: 100%;
        flex-direction: column;
    }
    .menu{
        padding: 10px;
    }

    .img-logoMenu{
        visibility: hidden;
    }

    h1{
        display: flex;
        justify-content: center;
        font-family: Bungee;
        font-family: 10px;
    }

    h3{
        display: flex;
        justify-content: center;
        font-family: Bungee;
        font-family: 10px; 
    }

    a{
        display: flex;
        justify-content: center;
        margin: 0px 10px;
        margin-right: 10px;   
        list-style-type: none;
        text-decoration: none;
        color: black;
        font-size: 120%;
        font-family: Bungee;
    }
}