/* Reset de estilos para evitar estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* Estilos do cabeçalho */
.header {
    background-color: #00FF00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    flex: 1;
    padding-left: 20px;
    max-width: 100px;
}

.buttons {
    display: flex;
}

button {
    margin-right: 10px;
}

.botoes{
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    color: #00FF00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* LOGO E TITULO */
.content {
    color: #00FF00;
    text-align: center;
    padding: 20px;
    
}
/* ESTILO DO TEXTO */
h1 {
    
    font-size: 24px;
    margin-bottom: 10px;
}

/* ESTILO DO LOGO */
img {
    max-width: 100%;
    height: auto;
}


/* Media query para tornar o layout responsivo */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .buttons {
        margin-top: 10px;
    }
}
