@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


/* Reset de estilos para evitar estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* Estilos do cabeçalho */
.header {
    background-color: #00FF00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo {
    flex: 1;
    padding-left: 20px;
    max-width: 100px;
}

.imaglogo{
    border-radius: 50px;
}

.imagG{
    border-radius: 500px;
}

.buttons {
    display: flex;
}

button {
    margin-right: 10px;
}

.botoes{
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    color: #00FF00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: bungee;
}

li{
    list-style: none;
}

/* LOGO E TITULO */
.content {
    color: #00FF00;
    text-align: center;
    padding: 20px;
    
}

.mascara{
    font-size: 100px; /* Tamanho da fonte */
    color: #00ff00; 
    background: url('../Gifs/62c93a4cf6462f54fdea6d735d927f9c.gif') no-repeat center center; 
    background-size: cover; 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px #00FF00;
}

/* ESTILO DO TEXTO */
h1 {
    font-family: Bungee;
    font-size: 260px;
    margin-bottom: 10px;
}

/* ESTILO DO LOGO */
img {
    max-width: 100%;
    height: auto;
}


/* Media query para tornar o layout responsivo */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .buttons {
        margin-top: 10px;
    }

    .botoes{
        font-size: 14px;
    }

    .mascara{
        font-size: 40px;
        
    }
}

@media (max-width: 300px){
.botoes{
    font-size: 6px;
}

.buttons{
    margin-top: 8px;
}

.mascara{
    font-size: 30px;
}
}
